wheel>=0.40.0; python_version >= "3.7"
requests>=2.31.0; python_version >= "3.7"
urllib3==1.26.5; python_version >= "3.7"
pandas>=0.23.4; python_version >= "3.7"
tqdm>=4.28.1 ; python_version >= "3.7"
aiohttp>=3.8.4 ; python_version >= "3.7"
aioretry>=5.0.2; python_version >= "3.7"
nest_asyncio>=1.5.6; python_version >= "3.7"
pydantic>=1.10.9; python_version >= "3.7"
